<div class="container">
  <canvas #area></canvas>
</div>
<div class="container">
  <div class="input">
    <input type="range" min="1" max="5" value="2" #range>
  </div>
  <div class="input">
    <input type="color" #color>
  </div>
</div>
<input #inputPictureDirective type="file" (change)="addPicture($event)"
  accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png, .gif, .svg" style="display:none;">
<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex></div>
  <button mat-raised-button color="primary" type="button" aria-label="add" fxFlex
    (click)="inputPictureDirective.click()">add</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" type="button" aria-label="crop" fxFlex (click)="crop()">crop</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" type="button" aria-label="animate" fxFlex
    (click)="animate()">animate</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" type="button" fxFlex
    (click)="save()">save</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" type="button" fxFlex
    (click)="restore()">restore</button>
  <div fxFlex></div>
</div>