
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$imageArea-primary: mat-palette($mat-indigo);
$imageArea-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$imageArea-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$imageArea-theme: mat-light-theme($imageArea-primary, $imageArea-accent, $imageArea-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($imageArea-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$imageArea-primary: mat-palette($mat-indigo);
$imageArea-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$imageArea-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$imageArea-theme: mat-light-theme($imageArea-primary, $imageArea-accent, $imageArea-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($imageArea-theme);

// initial reset
html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

canvas {
  width: 500px;
  height: 250px;
  border: 1px solid darkgray;
  // background-image: url(./assets/cell.png);
}

.input {
  margin: 10px;
  display: flex;
  width: 40%;
  justify-content: center;
  input {
    width: 80%;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
